<!doctype html>
<html lang="ja">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <meta charset="UTF-8">
    <title>大江戸タイピング</title>
  </head>
  <body>
    <div class="game-wrapper">
      <canvas id = "mycanvas" class="game-frame"></canvas>
    <div>
    <div class="links-wrapper">
      <%= link_to "ユーザー登録", "#", class: "links"%>
      <%= link_to "ランキング", "#", class: "links"%>
      <%= link_to "ストア", "#", class: "links"%>
      <%= link_to "掲示板", "#", class: "links"%>
    </div>
  </body>
</html>