<div class="ranker">
  <p class="rank"><%= "#{ranker.id}ä½" %></p>
  <%=image_tag "chara/tonosama.png", class: "ranker-image"%>
  <p class="ranker-name"><%= ranker.name %></p>
  <p class="score">100000</p>
</div>