<div class="ranker">
  <p class="rank"><%= "#{@results.index(result)+1}ä½" %></p>
  <%=image_tag "chara/#{Item.find(result.user.active_image).image_name}.png", class: "ranker-image"%>
  <p class="ranker-name"><%= result.user.name %></p>
  <p class="score"><%=result.score%></p>
</div>