<center>
<body>
  <div class="game-wrapper">
    <canvas id = "mycanvas" class="game-frame"></canvas>
    <div class="main-title">
      遊び方
    </div>
    <div class="game-explain">
      <p>
      『大江戸タイピング』はローマ字入力のタイピングゲームです。<br>
      より多くの単語をミスなくタイピングできれば高得点が狙えます。<br>
      ゲーム終了時にタイプミスの多かったキーをリザルトとマイページで確認できます。<br>
      苦手なキーを把握してタイピングの上達を目指しましょう。
      </p>
    <div>
  </div>
</body>
</center>