body {
  background: 
    linear-gradient(45deg, #84a2d4 25%, transparent 25%, transparent 75%, #84a2d4 75%) 0 0 / 240px 240px,
    linear-gradient(45deg, #84a2d4 25%, transparent 25%, transparent 75%, #84a2d4 75%) 120px 120px / 240px 240px,
    #a2d7dd;
}

 .game-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.game-frame{
  border: solid 3px black;
}

.links-wrapper{
  width: 900px;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links{
  width: 210px;
  height: 80px;
  font-size: 25px;
  line-height: 80px;
  text-align: center;
  color: white;
  background-color: #513743;
  border: solid 1px white;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 30px;
}
