<body>
  <div class="item-page">
    <h1 class="items-title">御品書</h1>
    <p class="item-explain">購入した画像はマイページでアイコンに設定できます。</p>
    <ul class="item-lineup">
      <%= render partial: "item", collection: @items %>
    </ul>
  </div>
</body>